/*
 * @Author: JennLuuu 1129694837@qq.com
 * @Date: 2024-03-12 18:28:19
 * @LastEditors: JennLuuu 1129694837@qq.com
 * @LastEditTime: 2024-03-12 18:28:42
 * @FilePath: \MyCode\240312\01.css
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
.ha {
    background-color: rgb(60, 116, 70);
    width: 200px;
    height: 200px;
}