.outer {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.outer>div{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 5px;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
}
.one p {
    border: 9px solid #000;
    border-radius: 50%;
}

.two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.two p {
    border: 9px solid #000;
    border-radius: 50%;
}
.two p:nth-child(1) {
    align-self: flex-start;
    margin-top:20px;
}
.two p:nth-child(2) {
    align-self: flex-end;
    margin-bottom:20px;
}

.three {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.three p {
    border: 9px solid #000;
    border-radius: 50%;
}
.three .left {
    align-self: flex-start;
    margin-top: 15px;
}
.three .center {
    align-self: center;
}
.three .right {
    align-self: flex-end;
    margin-bottom: 15px;
}

.four .top{
    height:50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.four .bottom{
    height:50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.four p {
    border: 9px solid #000;
    border-radius: 50%;
}
.four .top p {
    align-self: center;
    
}
.four .bottom p {
    align-self: center;

}

.five {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.five p {
    border: 9px solid #000;
    border-radius: 50%;
}
.five .top{
    height:17px;
    display: flex;
    justify-content: space-evenly;
}
.five .center{
    height:17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.five .bottom {
    height:17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.six {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.six p {
    border: 9px solid #000;
    border-radius: 50%;
}
.six .top{
    height:17px;
    display: flex;
    justify-content: space-evenly;
}
.six .bottom{
    height:17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}